*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: var(--border-skeleton);*/
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: start;
    align-items: start;
    --border-skeleton: 1px solid black;
    --bar-width: 0%
    /*gap: 2rem;*/
}

 /*NAV BAR SECTION!*/
/*----------------------------------------------*/
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 30px;
    border: var(--border-skeleton);
}
/*----------------------------------------------*/

/*SEARCH BAR SECTION!*/
/*----------------------------------------------*/
#search-section{
    width: 100%;
    padding: 10px 20px;
    border: var(--border-skeleton);
}

#search-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: var(--border-skeleton);
}

#form-input{
    flex: 1;
    height: 30px;
}

#form-button{
    height: 30px;
    width: 80px;
}

/*----------------------------------------------*/

/*HEADER SECTION!*/
/*----------------------------------------------*/
#header-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: var(--border-skeleton);
    margin-top: 1rem;
}

.pokemon-number-name{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 10px 20px;
    border: var(--border-skeleton);
}

.pokemon-types{
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 1rem;
    border: var(--border-skeleton);
}

/*----------------------------------------------*/

/*IMAGE SECTION!*/
/*----------------------------------------------*/
#image-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    border: var(--border-skeleton);
}
/*----------------------------------------------*/

/*INFO SECTION!*/
/*----------------------------------------------*/
#info-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
    border: var(--border-skeleton);
}

#info-section div{
    border: var(--border-skeleton);
}
/***********************/
.measures-container{
    display: flex;
    flex-direction: row;
    gap:30px;
}

.measures-container div{
    display: flex;
    flex-direction: row;
    gap:10px;
}
/***********************/

/***********************/
.abilities-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#pokemon-abilities{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
/***********************/

/***********************/
.stats-container {
    display: flex;
    flex-direction: column;
}

.pokemon-stats{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.singular-stat{
   display: flex;
    flex-direction: column;
}

.stat-bar{
    width: var(--bar-width);
}
/***********************/

/***********************/
.evolution-chain-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.chain-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}

.evolution-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolution-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: var(--border-skeleton);
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/***********************/




/*----------------------------------------------*/
